<title>Hello World!</title>

<p id="replace"></p>

<script>
  let hellos = 100000;
  document.getElementById("replace").innerHTML = `Below are ${hellos} "Hello World!"s!`;

  let str = "";
  for (let i = 0; i < hellos; i++) {
      str = str + `Hello World! ${i+1}<br>`;
  }
  document.write(str);
</script>
