<title>Pyu's Website - Images</title>
<h1>Random Images</h1>

<a href="/">Home</a><br><br>

<a href="/images">Image Directory</a><br><br>

<img src="/images/rizz.png"><br><br>

<img src="/images/uwu.png"><br><br>
