<title>Pyu's Website</title>
<h1>Pyu's Website</h1>

<p>This website is hosted with GNU Emacs simple-httpd package</p>
<p>Next time, I am definitly using Common Lisp and not ELisp</p>

<a href="/files">Files</a><br>
<a href="/links.html">Links</a><br>
<a href="/images.html">Images</a><br>
<a href="/pages">Interactable Pages</a><br>
<a href="/js">JavaScript</a><br>
